<mat-card class="small-main-menu">
    <button mat-icon-button aria-label="Choose puzzle"
    class="small-menu-button" (click)="openPuzzleChooserBottomSheet()">
        <img class="small-menu-image" src="assets/smallMenu/choosePuzzle.svg" alt="choosePuzzle"/>
    </button>
    <button mat-icon-button aria-label="Preview image"
    class="small-menu-button" (click)="openTemplatePreviewBottomSheet()">
        <img class="small-menu-image" src="assets/smallMenu/preview.svg" alt="preview"/>
    </button>
    <button mat-icon-button aria-label="Example icon-button with a heart icon"
    class="small-menu-button" (click)="openInsertTemplateImageBottomSheet()">
        <img class="small-menu-image" src="assets/smallMenu/uploadOwnImage.svg" alt="preview"/>
    </button>
</mat-card>
