<div class="puzzle-select-block">
    <h1 class="main-heading"> Select from puzzles</h1>

    <div class="puzzle-wrapper-block">
        <div class="puzzle-part-block">
            <mat-card *ngFor="let puzzle of (getPuzzles() | async)" class="puzzle-to-choose" (click)="addToBoard(puzzle);">
                <img class="puzzle-image" [src]="puzzle.puzzleImageSrc" alt="puzzle" [style]="getCSSRotateString(puzzle.rotateAngle)"/>
                <div class="higlighted-corner" href="#">
                    <img class="unselected-image" src="/assets/icons/select-unselected.svg" />
                    <img class="selected-image" src="/assets/icons/select-selected.svg" />
                </div>
            </mat-card>
        </div>
    </div>
</div>
