<div class="zoom-menu-buttons">
    <button mat-icon-button aria-label="Zoom in button"
        class="zoom-button zoom-menu-button-left" (click)="applyZoomIn()">
        <img class="zoom-button-image" src="assets/icons/zoom/zoom-in-green.svg" alt="preview"/>
    </button>
    <button mat-icon-button aria-label="Zoom out button"
        class="zoom-button" (click)="applyZoomReset()">
        <img class="zoom-button-image" src="assets/icons/zoom/zoom-reset.svg" alt="preview"/>
    </button>
    <button mat-icon-button aria-label="Zoom out button"
        class="zoom-button zoom-menu-button-right" (click)="applyZoomOut()">
        <img class="zoom-button-image" src="assets/icons/zoom/zoom-out-green.svg" alt="preview"/>
    </button>
</div>
