@import "../../../styles/text-settings.scss";
@import "../../../styles/layout-settings.scss";
@import "../../../styles/color-settings.scss";


.zoom-management-part {
  display: flex;
  flex-direction: column;
  @include side-puzzle-block-no-scroll;

  .main-heading {
    @include main-heading;
  }

  .reset-button-block {
    width: 100%;

    @media (min-width: 960px) {
      .zoom-button {
        width: 40%;
      }
    }

    @media (max-width: 960px) {
      .zoom-button {
        width: 60%;
      }
    }

    .zoom-button {
      border-radius: 0;
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px;
      background-color: $white-light-color-transparency;
      float: right;
    }
  }

  .vertical-spacer {
    flex: 1;
  }

  .zoom-input-value-part {
    width: 80%;
  }

  @media (min-width: 960px) {
    .zoom-buttons {
      display: flex;
      justify-content: center;
      justify-items: center;
      flex-direction: row;
    }
  }

  @media (max-width: 960px) {
    .zoom-buttons {
      display: flex;
      justify-content: center;
      justify-items: center;
      align-content: center;
      align-items: center;
      flex-direction: column;
    }
  }

  .zoom-buttons {
    width: 100%;

    @media (min-width: 960px) {
      height: 50px;
    }

    @media (max-width: 960px) {
      margin-top: 30px;
      height: 80px;
    }

    .zoom-button {
      border-radius: 0;
      background-color: $white-light-color-transparency;
      color: $gray-color-shadow;
      width: 38%;
      height: 100%;

      @media (min-width: 960px) {
        .zoom-button-image {
          height: 100%;
        }
      }

      @media (max-width: 960px) {
        .zoom-button-image {
          height: 80%;
        }
      }
    }

    @media (min-width: 960px) {
      .zoom-button-left {
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
      }

      .zoom-button-right {
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
      }
    }

    @media (max-width: 960px) {
      .zoom-button-left {
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
      }

      .zoom-button-right {
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
      }
    }
  }
}
