@import "../../../styles/layout-settings.scss";

.hide-zoom-content {
  display: none !important;
}

.zoom-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 0;
  justify-items: right;
  justify-content: right;

  .spacer {
    flex-grow: 1;
  }

  app-zoom-menu {
    // position: relative;
  }
}
