$heading-color: black;
$heading-color-transparency: rgba(0, 0, 0, 0.7);
$heading-color-transparency2: rgba(0, 0, 0, 0.3);
$main-heading-text-color: #f0fff0;
$light-text-color: #828282;
$dark-text-color: #424242;

$light-scrollbar-track-color: #f0fff0;
$light-scrollbar-handle-color: #c0c0c0;
$light-scrollbar-handle-hover-color: #a9a9a9;

$puzzle-board-background-color: #ffdab9;
$purple-style-color: #8b008b;
$mild-green: #42c4ce;
$mild-green-transparency: rgba(66, 196, 206, 0.7);

$gray-color-shadow: #808080;
$white-light-color-transparency: rgba(255, 255, 255, 0.5);
$white-light-color: #ffffff;
