@import "./color-settings.scss";

@font-face {
  font-family: "prompt";
  src: url("/assets/fonts/Prompt-Bold.ttf") format("truetype");
}

@mixin main-heading {
  font-size: 24px;
  color: $main-heading-text-color;
  font-family: "prompt";
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 16px;
}

@mixin submain-heading {
  font-size: 18px;
  font-family: "prompt";
  color: $main-heading-text-color;
  text-decoration: none;
}

@mixin text-heading {
  font-size: 18px;
  font-family: "prompt";
  color: $main-heading-text-color;
  font-weight: bold;
  text-decoration: none;
}

@mixin text-menu-heading {
  font-size: 18px;
  font-family: "prompt";
  font-weight: bold;
  text-decoration: none;
}

@mixin main-menu-title-heading {
  color: $main-heading-text-color;
  font-family: "prompt";
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}

@mixin text-subheading {
  font-size: 12px;
  font-family: "prompt";
  color: $main-heading-text-color;
  text-decoration: none;
}

@mixin intro-text {
  font-size: 20px;
  color: $main-heading-text-color;
  font-family: "prompt";
  text-decoration: none;
  line-height: 25px;
}
